<html>
<head>
    <title>Test Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type='text/javascript' src='jquery-1.11.3.min'></script>
    <script type='text/javascript' src='test.js'></script>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<p>Navigation:</p>
<a href="http://localhost:4567/">Main Page</a>
<a href="http://localhost:4567/nipash">Nipash's Page</a>
<a href="http://localhost:4567/reza">Reza's Page</a>
<a href="http://localhost:4567/denis">Denis' Page</a>
 
<%= yield %>
 
</body>
</html>