<h2>Welcome to the main page</h2>
<br />
<h3>Who?</h3>
<p>We are a group of Bellevue College students that share a passion for computer science. We are young and old, experienced and inexperienced, speaking and coding a variety of languages and working on different operating systems. We never hesitate to share our knowledge and help the less experienced among us.</p>
<h3>What?</h3>
<p>The goal of our club is to bring together our shared knowledge in computer science to build things. Websites, mobile applications, desktop applications, diy games and anything else related to our goals. We also take trips and participate in local events. We invite teachers and professionals to participate as well as to give career advice. Basically, if you are interested in computers or programming this club will fit nicely.</p>
<h3>Why?</h3>
<p>Microsoft, Amazon, Groupon, Alibaba, Facebook and Twitter are all tech companies that are either based in the Seattle area or have major offices here. We live in one of the richest areas of the world for Computer Science and are glad to be able to capitalize on our environment to create a fun and, ultimately, enriching club.</p>