<h2>Meeting Info</h2>
<br />
<h3>Where?</h3>
<p>Current meeting location: Room C225. We typically meet on campus and occasionally off campus when convenient. We have the club meeting rooms booked weekly so there is quite a large space for everyone to participate.</p>
<h3>When?</h3>
<p>Meeting times are 12:20-1:20 Thursdays for the Winter Quarter. We also occasionally connect outside of school at other times. Times for the spring quarter are undecided, so e-mail us if necessary changes are to be made.</p>
