<h1>NIPASH TEST PAGE</h1>
<head>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
function initialize() {
  var mapProp = {
    center:new google.maps.LatLng(47.5853515,-122.1482834),
    zoom:15,
    mapTypeId:google.maps.MapTypeId.HYBRID
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>
</head>

<body>
<p>Google Maps Test</p>
<div id="googleMap" style="width:800px;height:500px;"></div>
<br>
<p>Image Test</p>
<img src="http://www.zemwallpapers.com/wp-content/uploads/2015/08/Copyright-Free-Photos-2.jpg" alt="tiger">
<br>
<br>
<p>Youtube video starts from 00:8</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/2MwpMfcVOJo?start=8" frameborder="0" allowfullscreen></iframe>
<br>
<br>
<p>Vimeo video test</p>
<iframe src="https://player.vimeo.com/video/10149605" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<br>
<br>
<p>Music test</p>
</body>	