<h1>NIPASH TEST PAGE</h1>
<p>Navigation:</p>
<a href="http://localhost:4567/">Main Page</a>
<a href="http://localhost:4567/nipash">Nipash's Page</a>
<a href="http://localhost:4567/reza">Reza's Page</a>
<br>
<br>
<p>Image Test</p>
<img src="http://www.zemwallpapers.com/wp-content/uploads/2015/08/Copyright-Free-Photos-2.jpg" alt="tiger">
<br>
<br>
<p>Youtube video starts from 00:8</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/2MwpMfcVOJo?start=8" frameborder="0" allowfullscreen></iframe>
<br>
<br>
<p>Vimeo video test</p>
<iframe src="https://player.vimeo.com/video/10149605" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<br>
<br>
<p>Music test</p>
 <audio controls>
  <source src="horse.ogg" type="audio/ogg">
Your browser does not support the audio element.
</audio> s