<head>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
function initialize() {
  var mapProp = {
    center:new google.maps.LatLng(47.5853515,-122.1482834),
    zoom:15,
    mapTypeId:google.maps.MapTypeId.HYBRID
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>
</head>

<body>
<h2>NIPASH TEST PAGE</h2>
<p>SVG test</p>
 <svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="103mm"
   height="113mm"
   viewBox="0 0 103 112"
   id="svg3336"
   version="1.1"
   inkscape:version="0.91 r13725"
   sodipodi:docname="CSClogo2_C.svg"
   inkscape:export-filename="F:\Documents\Computer Science Club\CSClogo2_C.png"
   inkscape:export-xdpi="90"
   inkscape:export-ydpi="90">
  <defs
     id="defs3338">
    <filter
       style="color-interpolation-filters:sRGB"
       inkscape:label="Matte Jelly"
       id="filter38899">
      <feColorMatrix
         values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0.85 0"
         result="color"
         in="SourceGraphic"
         id="feColorMatrix38901" />
      <feGaussianBlur
         in="SourceAlpha"
         stdDeviation="5.49479"
         result="blur"
         id="feGaussianBlur38903" />
      <feSpecularLighting
         in="blur"
         specularExponent="25"
         specularConstant="1.69000006"
         surfaceScale="5"
         lighting-color="#ffffff"
         result="specular"
         id="feSpecularLighting38905">
        <feDistantLight
           elevation="75"
           azimuth="181"
           id="feDistantLight38907" />
      </feSpecularLighting>
      <feComposite
         in="specular"
         in2="SourceGraphic"
         k3="1"
         k2="1"
         operator="arithmetic"
         result="composite1"
         id="feComposite38909"
         k1="0"
         k4="0" />
      <feComposite
         in="composite1"
         in2="color"
         operator="atop"
         result="composite2"
         id="feComposite38911" />
    </filter>
    <filter
       style="color-interpolation-filters:sRGB"
       inkscape:label="Matte Jelly"
       id="filter38913">
      <feColorMatrix
         values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0.85 0"
         result="color"
         in="SourceGraphic"
         id="feColorMatrix38915" />
      <feGaussianBlur
         in="SourceAlpha"
         stdDeviation="5.49479"
         result="blur"
         id="feGaussianBlur38917" />
      <feSpecularLighting
         in="blur"
         specularExponent="25"
         specularConstant="1.69000006"
         surfaceScale="5"
         lighting-color="#ffffff"
         result="specular"
         id="feSpecularLighting38919">
        <feDistantLight
           elevation="75"
           azimuth="181"
           id="feDistantLight38921" />
      </feSpecularLighting>
      <feComposite
         in="specular"
         in2="SourceGraphic"
         k3="1"
         k2="1"
         operator="arithmetic"
         result="composite1"
         id="feComposite38923"
         k1="0"
         k4="0" />
      <feComposite
         in="composite1"
         in2="color"
         operator="atop"
         result="composite2"
         id="feComposite38925" />
    </filter>
    <filter
       style="color-interpolation-filters:sRGB"
       inkscape:label="Matte Jelly"
       id="filter38927">
      <feColorMatrix
         values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0.85 0"
         result="color"
         in="SourceGraphic"
         id="feColorMatrix38929" />
      <feGaussianBlur
         in="SourceAlpha"
         stdDeviation="5.49479"
         result="blur"
         id="feGaussianBlur38931" />
      <feSpecularLighting
         in="blur"
         specularExponent="25"
         specularConstant="1.69000006"
         surfaceScale="5"
         lighting-color="#ffffff"
         result="specular"
         id="feSpecularLighting38933">
        <feDistantLight
           elevation="75"
           azimuth="181"
           id="feDistantLight38935" />
      </feSpecularLighting>
      <feComposite
         in="specular"
         in2="SourceGraphic"
         k3="1"
         k2="1"
         operator="arithmetic"
         result="composite1"
         id="feComposite38937"
         k1="0"
         k4="0" />
      <feComposite
         in="composite1"
         in2="color"
         operator="atop"
         result="composite2"
         id="feComposite38939" />
    </filter>
    <filter
       style="color-interpolation-filters:sRGB"
       inkscape:label="Matte Jelly"
       id="filter38941">
      <feColorMatrix
         values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0.85 0"
         result="color"
         in="SourceGraphic"
         id="feColorMatrix38943" />
      <feGaussianBlur
         in="SourceAlpha"
         stdDeviation="5.49479"
         result="blur"
         id="feGaussianBlur38945" />
      <feSpecularLighting
         in="blur"
         specularExponent="25"
         specularConstant="1.69000006"
         surfaceScale="5"
         lighting-color="#ffffff"
         result="specular"
         id="feSpecularLighting38947">
        <feDistantLight
           elevation="75"
           azimuth="181"
           id="feDistantLight38949" />
      </feSpecularLighting>
      <feComposite
         in="specular"
         in2="SourceGraphic"
         k3="1"
         k2="1"
         operator="arithmetic"
         result="composite1"
         id="feComposite38951"
         k1="0"
         k4="0" />
      <feComposite
         in="composite1"
         in2="color"
         operator="atop"
         result="composite2"
         id="feComposite38953" />
    </filter>
    <filter
       style="color-interpolation-filters:sRGB"
       inkscape:label="Matte Jelly"
       id="filter38955">
      <feColorMatrix
         values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0.85 0"
         result="color"
         in="SourceGraphic"
         id="feColorMatrix38957" />
      <feGaussianBlur
         in="SourceAlpha"
         stdDeviation="5.49479"
         result="blur"
         id="feGaussianBlur38959" />
      <feSpecularLighting
         in="blur"
         specularExponent="25"
         specularConstant="1.69000006"
         surfaceScale="5"
         lighting-color="#ffffff"
         result="specular"
         id="feSpecularLighting38961">
        <feDistantLight
           elevation="75"
           azimuth="181"
           id="feDistantLight38963" />
      </feSpecularLighting>
      <feComposite
         in="specular"
         in2="SourceGraphic"
         k3="1"
         k2="1"
         operator="arithmetic"
         result="composite1"
         id="feComposite38965"
         k1="0"
         k4="0" />
      <feComposite
         in="composite1"
         in2="color"
         operator="atop"
         result="composite2"
         id="feComposite38967" />
    </filter>
    <filter
       inkscape:collect="always"
       style="color-interpolation-filters:sRGB"
       id="filter39341"
       x="-0.37748623"
       width="1.7549725"
       y="-1.2834531"
       height="3.5669062">
      <feGaussianBlur
         inkscape:collect="always"
         stdDeviation="7.5462288"
         id="feGaussianBlur39343" />
    </filter>
    <filter
       inkscape:collect="always"
       style="color-interpolation-filters:sRGB"
       id="filter39345"
       x="-0.27058786"
       width="1.5411757"
       y="-0.25669062"
       height="1.5133812">
      <feGaussianBlur
         inkscape:collect="always"
         stdDeviation="7.5462288"
         id="feGaussianBlur39347" />
    </filter>
  </defs>
  <sodipodi:namedview
     inkscape:document-units="mm"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="0.86831672"
     inkscape:cx="82.717861"
     inkscape:cy="118.78134"
     inkscape:current-layer="layer2"
     id="namedview3340"
     showgrid="false"
     objecttolerance="10000"
     inkscape:snap-perpendicular="true"
     guidetolerance="10000"
     inkscape:snap-path-mask="false"
     inkscape:snap-path-clip="true"
     showguides="false"
     inkscape:window-width="1280"
     inkscape:window-height="1011"
     inkscape:window-x="3196"
     inkscape:window-y="118"
     inkscape:window-maximized="1">
    <inkscape:grid
       type="xygrid"
       id="grid3347" />
  </sodipodi:namedview>
  <metadata
     id="metadata3342">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:groupmode="layer"
     id="layer2"
     inkscape:label="Background"
     transform="translate(0,-98)">
    <rect
       style="fill:#000000;fill-opacity:1;stroke:#535d6c;stroke-width:0;stroke-miterlimit:4;stroke-dasharray:none"
       id="rect6051"
       width="103.57256"
       height="111.70054"
       x="-0.2941435"
       y="98.25898"
       inkscape:export-xdpi="90"
       inkscape:export-ydpi="90" />
  </g>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     style="opacity:1"
     transform="translate(0,-98)">
    <path
       style="fill:#26e6ff;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter38955)"
       d="m 60.815841,106.76576 a 35.277778,35.277778 0 0 0 -35.277777,35.27778 35.277778,35.277778 0 0 0 35.277777,35.27778 35.277778,35.277778 0 0 0 31.630936,-19.75556 l -13.46233,0 a 23.988887,23.988887 0 0 1 -18.374761,8.56975 23.988887,23.988887 0 0 1 -23.988888,-23.9889 23.988887,23.988887 0 0 1 23.988888,-23.98889 23.988887,23.988887 0 0 1 18.164198,8.36359 l 13.696047,0 a 35.277778,35.277778 0 0 0 -31.65409,-19.75555 z"
       id="path3363"
       inkscape:connector-curvature="0"
       inkscape:export-xdpi="90"
       inkscape:export-ydpi="90"
       transform="matrix(0,-1,1,0,-91.429299,221.19662)" />
    <rect
       style="fill:#bdbdbd;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter38941)"
       id="rect3371"
       width="47.977776"
       height="14.111111"
       x="62.226948"
       y="134.98816"
       inkscape:export-xdpi="90"
       inkscape:export-ydpi="90"
       transform="matrix(0,-1,1,0,-91.429299,221.19662)" />
    <path
       inkscape:connector-curvature="0"
       id="path37449"
       d="m 60.815837,106.76576 a 35.277778,35.277778 0 0 0 -35.27777,35.27778 35.277778,35.277778 0 0 0 35.27777,35.27778 35.277778,35.277778 0 0 0 31.63094,-19.75556 l -13.46233,0 a 23.988887,23.988887 0 0 1 -18.37476,8.56975 23.988887,23.988887 0 0 1 -23.98889,-23.9889 23.988887,23.988887 0 0 1 23.98889,-23.98889 23.988887,23.988887 0 0 1 18.1642,8.36359 l 13.69604,0 a 35.277778,35.277778 0 0 0 -31.65409,-19.75555 z"
       style="fill:#4bfaff;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter39345)"
       inkscape:export-xdpi="90"
       inkscape:export-ydpi="90"
       transform="matrix(0,-1,1,0,-91.429299,221.19662)" />
    <rect
       y="134.98816"
       x="62.226944"
       height="14.111111"
       width="47.977776"
       id="rect37451"
       style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter39341)"
       inkscape:export-xdpi="90"
       inkscape:export-ydpi="90"
       transform="matrix(0,-1,1,0,-91.429299,221.19662)" />
  </g>
</svg>
<p>Google Maps Test</p>
<div id="googleMap" style="width:800px;height:500px;"></div>
<br>
<p>Image Test</p>
<img src="http://www.zemwallpapers.com/wp-content/uploads/2015/08/Copyright-Free-Photos-2.jpg" alt="tiger">
<br>
<br>
<p>Youtube video starts from 00:8</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/2MwpMfcVOJo?start=8" frameborder="0" allowfullscreen></iframe>
<br>
<br>
<p>Vimeo video test</p>
<iframe src="https://player.vimeo.com/video/10149605" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<br>
<br>
<p>Music test</p>
</body>	