<h1>MAIN PAGE TEST</h1>
<p>Navigation:</p>
<a href="http://localhost:4567/">Main Page</a>
<a href="http://localhost:4567/nipash">Nipash's Page</a>
<a href="http://localhost:4567/reza">Reza's Page</a>
<br>
<br>
<br>
<br>
<br>
<p>something else here</p>
<p>"dsflkjsdklfj"</p>
<h1>test</h1>

<% for i in 0..10 %>
	<%= 'hi' %>
<% end %>