<h2>Privacy Policy</h2>
<br>
<p>We firmly believe that privacy is both inconsequential and unimportant to you. If it were not, you probably would not have a Facebook, Twitter, or LinkedIn account: and you certainly wouldn’t ever use a search engine like Google. If you’re one of those tin-foil-hat wearing crazies that actually cares about privacy: stop using our services and get a life.</p>
<br>
<p>We agree with Mark Zuckerberg when he pithily opined 'The age of Privacy is Over.'</p>