<h2>Current Projects</h2>
<br />
<h3>Website</h3>
<p>Our current project is getting the website and the club setup in general. We have been going for around 4 months now and we are just finishing the initial set-up period of the club. This involves of course having a website. Our website is hand-built in HTML, CSS and Java and run on a Ruby-based server. We hand coded everything because we wanted to learn the "nuts and bolts" of everything.</p>