p {
	color: blue;
}

.image,extras h1 {
    
    font-family: 'Chela One', cursive;
    background:  rgb(0, 153, 204);
    color: black;
	text-align: left;
    position: relative; 

}
    


body {
    
	color: black;
	background-color: rgb(51, 206, 255);
    text-align: center;
    padding-bottom: 20px;
    padding-right: 10px;

}

.nav-bar {
    
    display:block;
    background: #EBEFF0;
    width: 180px;
    
    
}
    
    
    


.nav-bar ul{
     
    list-style-type:none;
    margin: 0;
    padding: 0;
    
}

.nav-bar a{
font-family: "Times New Roman", Times, serif;
 color :  #00b0ff;   
 font-size: 20px;
 font-weight: 900;
 padding-top: 100px;
 padding-bottom: 0;
 padding-left:   0px;
 padding-right:   0px;
 text-transform: uppercase;
 display:table-row;
text-align: center;
    align-items: center;
}


 
.nav-bar ul li:hover {
  background: rgb(0, 37, 51);
}

.main-menu { 
   position: relative;
}



.CSC h1 {
font-family: "Times New Roman", Times, serif; 
   position: absolute; 
   top: 0px; 
   left: 0; 
   width: 100%; 
text-align: right;
}


